body{
    margin: 0;
    padding: 0;
    background-color: #2D2726;
    width: 1440px;
    height: 3941px;
    margin: 0 48px;
}

.header{
    font-size: 42px;
    border-bottom: 2.5px solid #E6D8D633;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;

    top: 0;
    left: 0;
    right: 0;
    line-height: 45px;
    font-family: 'Prompt';
    color: #E6D8D6;
    margin-bottom: 100px;
}

a{
    text-decoration: none;
    color: #E6D8D6;
}
.title{
    margin-top: 100px;
    font-size: 70px;
    text-align: center;
    font-family: 'Hepta Slab';
    color: #E6D8D6;
}