body{
    margin: 0;
    padding: 0;
    background-color: #2D2726;
    width: 1440px;
    height: 3941px;
    

}
.container{
    background-color: lightcoral;
    
}
header{
    height:30px;
    border-bottom: 1.5px solid #E6D8D633;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    line-height: 42px;
    font-family: 'Prompt';font-size: 22px;
    color: #E6D8D6;
}
a{
    text-decoration: none;
    color: #E6D8D6;
}